:root {
  --primary: #3f9c81;
  --secondary: cyan;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.dashboard {
  height: 100vh;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  margin-top: 30vh;
  width: 50vw;
  min-width: 500px;
}

.dashboard-container>a {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Create outline */
  border: 3px solid white;
  border-radius: 10px;
}

.dashboard-container h2 {
  /* color: var(--primary); */
  margin-bottom: 10px;
}

.dashboard-container a {
  padding-top: 10px;
  background-color: var(--secondary);
  text-decoration: none;
}

.dashboard-container img {
  border-radius: 10px;
  object-fit: contain;
  width: 200px;
  height: 150px;
}

.left-shifted-title {
  width: 44%;
  padding-left: 10%;
}

section#homepage-section {
  background: var(--primary);
  display: flex;
  color: white;
  justify-content: left;
  height: 100%;
  width: 100%;
  padding: 16% 0%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 1.5%;
  background-color: white;
}

.action-btn {
  margin-left: 3%;
  background: none;
  padding: 0.5% 3%;
  border: solid 2px var(--primary);
  border-radius: 33px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.action-btn:hover {
  background-color: var(--primary);
  color: var(--seconary);
}

.get-started-btn {
  background: none;
  padding: 1.5% 5%;
  border: solid 2px white;
  border-radius: 33px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
}

.get-started-btn:hover {
  background-color: var(--seconary);
  color: var(--primary);
  color: var(--secondary);
}

.home-btn {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

a {
  cursor: pointer;
}

body {
  font-family: 'Rubik', sans-serif;
}

.hero-img {
  margin-left: 10%;
}

section#footer-section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: var(--primary);
}
section#ride-request-page {
  padding: 10%;
}
.info-form {
  display: flex;
  justify-content: space-around;
}
.info-container {
  display: flex;
  justify-content: space-evenly;
}
input.input-field {
  margin-left: 5%;
  height: 40%;
  margin-top: 8%;
}

.centered {
  display: flex;
  justify-content: center;
  padding: 3%;
}
.centered-links {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.driver-containers {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  padding: 1% 4%;
  width: 55%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 17px;
}
.section_2 button {
  margin-top: 38%;
  background: none;
  padding: 5.5% 10%;
  border: solid 2px var(--primary);
  border-radius: 33px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.section_2 {
  width: 22%;
}
.left-shift {
  padding: 1%;
  padding-left: 3%;
}
.request-popup {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 25%;
  right: 25%;
  background: white;
  border: 2px solid var(--primary);
  padding: 2%;
  border-radius: 33px;
}
#close-btn{
  margin-left: 0%;
}